*.7z
*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.DS_Store
.bloop/
.bsp/
.classpath
.idea/
.metals/
.project
.vscode/
logs/
project/.bloop/
project/metals.sbt
project/project/
target/
static/js/main.js
node_modules/
js/js-fastopt/
