.DS_Store
**/.bloop/
**/.bsp/
**/.idea/
**/.metals/
**/.vscode/
**/metals.sbt
**/project/project/
**/target/
**/js-fastopt/
**/js-opt/
**/logs/
**/node_modules/
**/js-test-fastopt/
application-prod.conf
